
h1 { 
    font-family:"Helvetica","Arial", sans-serif;
    margin-left:10px;
    margin-right:10px;
}
h2{
    

    
    font-family:Arial;
    margin-left:10px;
    margin-right:10px;   
   
    }    


h3{
    
    font-family:Arial;
    margin-left:10px;
    margin-right:10px;
}

p{
   
    font-family: helvetica;
    font-size:19px;
    margin-left:1px;
    margin-right:1px;
}

 
    
    

    
/*Layout*/



    




  
  
  
     
   
    
     
   

   
   




#navi
{
    float:left; 
   
 }
 
.meny{
    border-top-left-radius:10;
    
    font-size:25px;
     
    
} 
 
 

.sociallist{margin: 0; padding: 0; width:100%; list-style-type: none; font-size: 100%; background: silver; border-bottom: 1px solid #996666; }

.sociallist a{ display: block; width: auto; height: 100%; padding-left: 0.25em; padding-top: 0.25em; padding-bottom: 0.25em; text-decoration: none;
border-top: 1px solid #996666; border-right: 1px solid #996666; border-left: 1px solid #996666;}

.meny a:link{color: white;}
.meny a:visited{color: black;}
.meny a:hover{background: yellow;}
.meny a#current{background: #FFCC66; color: #000000;}







#container
{
 
    background-color:white;            
  /*  background-color:#C5E8E8;*/
    overflow: auto;
    max-width:1200px;
    margin: 0 auto;
    padding:0;
   
}  

@media only screen and (max-width:481px) /*För alla mobilsidor*/  
{
    #container
    {
     
        background-color:white;            
        
        max-width:481px;
        margin: 0 auto;
        padding:0;
       
    }  
}


    
#top{
    color:#7960EF;
    background-color:black;
    
    margin: 0 auto;
    max-width:980px;
    height:150px;
 
    padding-top:10px;


    background-image:url(../pages/pics/kula.jpg);
    background-repeat:no-repeat;
    background-size:1000px;
    background-position:left;
    
}  

@media only screen and (max-width:481px) /*För alla mobilsidor*/  
{
    
    
    
#top{
    color:#7960EF;
    background-color:white;
    
    margin: 0 auto;
    max-width:310px;
    height:150px;
 
    padding-top:10px;


    background-image:url(../pages/pics/kula.jpg);
    background-repeat:no-repeat;
    background-size:310px;
    background-position:left;
}
.rub1{
        
        font-size:17px;
        
    }
    




}


    
    


#content{
        
        
        
        
        
        background-color:white;
        max-width:980px;
        
        border-radius:20px;
        
        margin:0 auto;
        float:left; 
       
       
       
        /*margin-left:40px;
        margin-right:40px;
        */
        }
   
    
    
    
    


@media only screen and (max-width:481px) /*För alla mobilsidor*/
{
    #content{
                padding-left: 0;
                padding-right: 0;
                background-color:white;
                max-width:310px;
             
                border-radius:2px;
                
                margin:0 auto;
                float:left;
            }    
    
   .right{
       
      max-width:50px;
       max-height:50px;
       
   } 
  
        
      
}    
    
    
    

#footer{
  
       color:#7960EF;
            
    background-image:url(../pages/pics/kula.jpg);
    background-color:black;
    height:150px;
    margin-bottom:5px;
   
    margin: 0 auto;
    max-width:980px;
    float:left;
    width:100%;
   
 
}
@media only screen and (max-width:481px) /*För alla mobilsidor*/
{
    #footer{
            color:#7960EF;
            background-image:url(../pages/pics/kula.jpg);
            background-color:white;
            
            margin-bottom:5px;
            background-size:310px;
            background-repeat:no-repeat;
            
            
            margin: 0 auto;
            max-width:310px;
            float:left;
            } 
            
            
}



/* index*/


.right{ /* <----   bild måne i text*/
    
  
 float:left;
margin-bottom:50px;
    
 

}
   
    /* Use COLORS:
    *white
    *#071B54
    *#8C860E
    *#B5AD12
    */
    
    
/*-------------------------------------*/
 
.b{
    
    background-color:silver;
    max-width:700px;
    max-height:650px;
      background-image:url(../pages/pics/icon2.png);
            
            background-repeat:no-repeat;
            background-size:25px;
            background-position:top left;

}    

.inlägg{
    
    padding:20px;
    
    
    
    
} 

.active
{
    font-style: italic;
      
    
}
.bcolor{
    
  background-color:silver;  
    
}
#menu a{
    display:none;
    
    
}
