
h1 { 
    font-family:"Helvetica","Arial", sans-serif;
    margin-left:10px;
    margin-right:10px;
}
h2{
    

    
    font-family:Arial;
    margin-left:10px;
    margin-right:10px;   
   
    }    


h3{
    
    font-family:Arial;
    margin-left:10px;
    margin-right:10px;
}

p{
   
    font-family: helvetica;
    font-size:19px;
    margin-left:1px;
    margin-right:1px;
}

 
    
    

    
/*Layout*/



    




  
  
  
     
   
    
     
   

   
   



a:link{text-decoration:none;color:#16CCAE;}
a:visited   {color:silver; } /*besökta*/
a:focus     { color:black; }
a:visited {text-decoration:none}





#start{border:1px solid black;background-color:#DAF5E0; }
#start:hover {color:orange; text-decoration:underline;border:none 1px solid #DAF5E0;}
#start{display:block; padding:15px;border-bottom: none;}
#start:active{color:black;}

#lab{border:1px solid black;background-color:#DAF5E0;}
#lab:hover {color:orange; text-decoration:underline;border: 1px solid black;}
#lab{display:block; padding:15px;border-bottom: none;}
#lab:active{color:black;}

#kont{border:1px solid black; background-color:#DAF5E0;}
#kont:hover {color:orange; text-decoration:underline;border: 1px solid black;}
#kont{display:block; padding:15px;border-bottom: none;}
#kont:active{color:black;}


#pres{border:1px solid black; background-color:#DAF5E0;}
#pres:hover {color:orange; text-decoration:underline;border: 1px solid black}
#pres{display:block; padding:15px;}
#pres:active{color:black;}


#log{border:1px solid black; background-color:#DAF5E0;}
#log:hover {color:orange; text-decoration:underline;border: 1px solid black}
#log{display:block; padding:15px;border-top:none;}

#video{border:1px solid black; background-color:#DAF5E0;}
#video:hover {color:orange; text-decoration:underline;border: 1px solid black}
#video{display:block; padding:15px;border-top:none;}
#video:active{color:black;}



#container
{
 
    background-color:white;            
  /*  background-color:#C5E8E8;*/
    overflow: auto;
    max-width:980px;
    margin: 0 auto;
    padding:0;
   
}  

@media only screen and (max-width:481px) /*För alla mobilsidor*/  
{
    #container
    {
     
        background-color:white;            
        
        max-width:481px;
        margin: 0 auto;
        padding:0;
       
    }  
}


    
#top{
    color:#7960EF;
    background-color:black;
    
    margin: 0 auto;
    max-width:980px;
    height:150px;
 
    padding-top:10px;


    background-image:url(../pages/pics/kula.jpg);
    background-repeat:no-repeat;
    background-size:1000px;
    background-position:left;
    
}  

@media only screen and (max-width:481px) /*För alla mobilsidor*/  
{
    
    
    
#top{
    color:#7960EF;
    background-color:white;
    
    margin: 0 auto;
    max-width:310px;
    height:150px;
 
    padding-top:10px;


    background-image:url(../pages/pics/kula.jpg);
    background-repeat:no-repeat;
    background-size:310px;
    background-position:left;
}
.rub1{
        
        font-size:17px;
        
    }
    




}

#navi{
  
float:left;    
margin:0 auto;    
    
    
}

@media only screen and (max-width:481px) /*För alla mobilsidor*/  
{
    
    #navi{
            width:310px;  
            float:left;    
            margin:0 auto;
                
                
                
         }
}
#sociallist{
             list-style-type:none;
             /*border-bottom:none;*/
             
             width: 150px;
            float:left;
             margin:0; padding:0;
            
            border-radius:20px;
 
}
@media only screen and (max-width:481px) /*För alla mobilsidor*/ 
{
    
    
            
#sociallist{
             list-style-type:none;
             /*border-bottom:none;*/
             
             width: 310px;
            float:left;
             margin:0; padding:0;
            
           
            }
    
    
}

    
    

/*#sociallist{
 list-style-type:none;
 /*border-bottom:none;
 
 width: 50px;
float:left;
 margin:0; padding:0;

border-radius:20px;

  */  
    
    
    


#content{
        
        
        
        
        
        background-color:white;
        max-width:750px;
        
        border-radius:20px;
        
        margin:0 auto;
        float:left; 
        /*margin-left:40px;
        margin-right:40px;
        */
    
    
    
    
    
    
}

@media only screen and (max-width:481px) /*För alla mobilsidor*/
{
    #content{
                padding-left: 0;
                padding-right: 0;
                background-color:white;
                max-width:310px;
             
                border-radius:2px;
                
                margin:0 auto;
                float:left;
            }    
    
   .right{
       
      max-width:50px;
       max-height:50px;
       
   } 
  
        
      
}    
    
    
    

#footer{
  
       color:#7960EF;
            
    background-image:url(../pages/pics/kula.jpg);
    background-color:black;
    height:150px;
    margin-bottom:5px;
   
    margin: 0 auto;
    max-width:980px;
    float:left;
    width:100%;
   
 
}
@media only screen and (max-width:481px) /*För alla mobilsidor*/
{
    #footer{
            color:#7960EF;
            background-image:url(../pages/pics/kula.jpg);
            background-color:white;
            
            margin-bottom:5px;
            background-size:310px;
            background-repeat:no-repeat;
            
            
            margin: 0 auto;
            max-width:310px;
            float:left;
            } 
            
            
}



/* index*/

.right{
    
  
 float:left;
margin-bottom:50px;
    
 

}
   
    /* Use COLORS:
    *white
    *#071B54
    *#8C860E
    *#B5AD12
    */
    
    
/*-------------------------------------*/
 
.b{
    
    background-color:silver;
    max-width:700px;
    max-height:650px;
}    

                                                                                                                           