

    
    


#top{
    border: 2px solid white;
    color:#8C860E;
    margin: 0 auto;
    max-width:960px;
     
    
    
    
    }
    #navigation
    {
   
    border: 2px solid white; 
    background-color:#B5AD12;
    width:200px;
    float:left;
  
        
        
    }
    #content
    {
         

    
    background-color:white;
    width:50%;
    float:left;
    
    }  




#container
{
    
            
    background-color:#F2E18D;
    overflow: auto;
    max-width:960px;
    margin: 0 auto;
}
#footer{
    
    
    
}
        

   
    
